<header>
  <h1>Your products favourited: </h1>
</header>

<div>
  <%@products.each do |product|%>
    <%@product = product%>
    <%=erb :"products_loop"%>
    <ol>
      <h3>Users:</h3>
      <%users = User.where(id: Favourite.where(product_id: product.id).pluck(:user_id))%>
      <%users.each do |user|%>
        <p>
          <%= user.first_name.capitalize+" "+user.last_name.capitalize %>
        </p>
        __________________________________________
      <%end%>
    </ol>
  <%end%>
</div>
