<header>
  <h1>Hi <%= current_user.first_name.capitalize! %>, Welcome to Mudah Marketplace!</h1>
</header>

<div>
  <h2>Products:</h2>

  <ol>
    <% Product.all.each do |product|%>
        <% @product = product %>
        <%= erb :products_loop %>
    <% end %>
  </ol>
</div>

<footer>
</footer>
