<header>
  <h1>Your selling products:</h1>
</header>

<div>
  <ol>
    <% current_user.products.each do |product|%>
        <% @product = product %>
        <%= erb :products_loop %>
    <% end %>
  </ol>
</div>
